
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: aliceblue;
    text-transform: capitalize;
}
.tourism{
    background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg);
    border-radius: 10px;
}
.tourism h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    padding: 30px;
}
.tourism .tourism-card{
    background-color: aliceblue;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}
.tourism .tourism-headding {
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    font-weight: 900;
}
.tourism .tourism-text{
    color: black;
    font-size: 30px;

}
.tourism .card-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}